.btn-controls {
  min-width: 100px;
  min-height: 100px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #bb6400;
}

.sb-row {
  position: relative;
  .col {
    @media screen and (max-width: 767px) {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 2;
      }
    }
  }
}

button {
  &:disabled {
    visibility: hidden;
  }
}
