.noclick {
  width: 120px;
  min-height: 75px;
  color: white;
  font-weight: 700;
  padding-inline: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0.8;
  user-select: none;
  -webkit-user-select: none;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 20px 0 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: opacity 0.3s ease;

  &.main {
    min-width: 400px;
    border-radius: 10px;
  }

  &:hover {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
