* {
  margin: 0;
  padding: 0;
}

@import "~bootstrap/scss/bootstrap";

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
