$body-bg: #2c2c2c;
$body-color: #dfdfdf;
$theme-colors: (
  "primary": #7280ff,
  "secondary": #e9c46a,
  "success": #2a9d8f,
  "danger": #e76f51,
  "warning": #f4a261,
  "info": #bebebe,
  "light": #3b3b3b,
  "dark": #e7e7e7,
);
$font-family-base: "Montserrat", sans-serif;
